<h1>Sobre Nós</h1>
<h2>Resumo</h2>
<p> O objetivo desse projeto é mostrar como o Censo de 2020 iria mudar o rumo de algumas cidades.
    A proposta desse site é facilitar a visualização dos municípios de Pernambuco, atualmente, é possível exportar um arquivo do tipo CSV de toda a tabela de municípios.
    Também é possível selecionar o município específico, e mostrará os equipamentos da Política da Assistência Social (Próximas Políticas no futuro).
</p>

<h2>Dados</h2>
<p> Para o treinamento da MLP, foram utilizado dados dos Censos, Estimativas Populacionais (ambos do IBGE), mais uma tabela de Quantidade de Equipamentos x Valores Recebidos.
    Não foram usados dados do Cad Único, pois não envolve a população de Pernambuco por completo.
    Foram feitas análises para verificar se existia correlação de variáveis como o sexo e posicionamento da população com a quantidade de total Populacional.
    Mas analisando de três maneiras:
    <ol>
        <li>Graficamente</li>
        <li>Percentualmente</li>
        <li>Por Coeficiente de Correlação, sendo elas:
            <ul>
                <li>Método de Pearson</li>
                <li>Método de Kendall</li>
                <li>Método de Spearman</li>
            </ul>
        </li>
    </ol>
    Depois de todas essas análises, foi possível verificar que não há correlação, além disso, também foram apenas registradas esses dados em 5 anos do Censo, pouco em relação à treinamento de máquina.
    Por último, foi feito uma tabela com todos os dados juntos, do Censo e da Estimativa Populacional, e com essa, foi feita o treinamento com esses dados.
</p>

<h2>Técnicas</h2>
<p> Para a resolução do problema os nossos monitores e professores, pensaram em tratar com Desenvolvimento de Focado em Dados (DDD).
    Para a ferramenta utilizada foi decidida, junto com DDD, a utilização de Rede Neural do tipo MultiLayer Perceptron (MLP), com método de regressão.
    A linguagem utilizada foi a Python, por causa de sua versatilidade, grande número de bibliotecas de análise e manipulação de dados e grande comunidade.
    A biblioteca para a análise e manipulação de dados, foi a Pandas. Para a formação, treinamento e execução da MLP por Regressão. Foi utilizada a biblioteca Keras.
    A Técnica de Validação Cruzada, foi a de Hold-Out, onde dois terços (2/3) dos dados foram alocados para a etapa de Treinamento e o resto (1/3) foi usada como Teste.
    Por último foi utilizada a Técnica de Métricas chamada de Erro Quadrático Médio, uma forma muito utilizada e de bastante eficácia, para verificar o resultado da máquina. 
</p>

<h2>Modelo de Previsão</h2>
<p> O modelo de previsão e todo o processo descrito acima está localizado neste <a href="https://colab.research.google.com/drive/1AOAoS55qL21cv8GsoTIMq0ORhvtBR1sZ?usp=sharing">link</a>, é possível ver cada parte como um tópico.</p>

<h2>Steakholders</h2>
<p>
    <ul>
        <li>Fernando Buarque - Professor da Disciplina - <a href="https://fbln.me/">Site do Professor</a></li>
        <li>Shireley Samico - Represantante da Amupe</li>
        <li>George Fragoso - Represantante de Tecnologia</li>
        <li>Hugo Amorim - Monitor da Cadeira de IA - 2020.2</li>
        <li>Luis Loo - Responsável pela Equipe</li>
        <li>Daniel Correia Barbosa - Integrante do Grupo - <a href="https://github.com/DCoB">Github</a></li>
        <li>Davi da Mota Nogueira - Integrante do Grupo - <a href="https://github.com/Davi-Mota-Nogueira">Github</a></li>
        <li>Matheus Albert Oliveira dos Santos - Integrante do Grupo - <a href="https://github.com/AltheusV">Github</a></li>
    </ul>
</p>