.titleCidadeEscolhida {
  display: flex;
}

.titleCidadeEscolhidaLabel {
  font-size: 25px;
  width: 100%;
  align-self: center;
  font-weight: bold;
}

.areaDivisao {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.areaDivisao2 {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  padding: 20px;
}

.secondArea {
  padding: 30px 0px 25px 0px;
}

.control {
  padding-bottom: 30px;
  width: 100%;
}

.control100{
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
}

.labelControl {
  border-style: hidden hidden solid hidden;
  border-color: #F58345;
  border-width: 2px;
  color: #0648a2;
  margin-bottom: 5px;
}

.chartArea {
  width: 900px;
  float: right;
}

.equipamentoLabel {
  align-self: center;
}

.equipamentoLabel > div:first-child {
  color: gray;
}

.equipamentoLabel > div:nth-child(2) {
  text-align: center;
}

.redText {
  color: #A10303;
}
.controlArea {
  display: flex;
}

.controlArea100 {
  display: flex;
  justify-content: space-between;
}

.controlArea1 {
  padding: 10px;
  background-color: #d0ddea;
}

.controlArea1Equipamento {
  width: 150px;
  text-align: center;
}

.controlArea2 {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  text-align: center;
}

.populacaoArea {
  max-width: 160px;
  margin-left: 20px;
}

.areaLine {
  display: flex;
}

.areaEquipamentoArrecadacao {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.arrecadacaoControlLabel {
  width: 180px !important;
  text-align: center;
}
.arrecadacaoControlLabel2 {
  width: 250px !important;
  text-align: center;
}
.arrecadacaoControlValue {
  width: 120px !important;
}

:host  ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 10px !important;
  width: 300px;
}

.backButon {
  display: flex;
  cursor: pointer;
  color: gray;
}

.backButon > i {
  font-size: 20px;
}

.backButon > label {
  padding-left: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
